.Main__Page {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;

}

.Main__Page img {
    transform : scale(1.2);
    z-index: 0;
}

.main {
    max-width: 668px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main h2  {
    font-size: 60px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 50px;
    text-align: start;
    margin-left: 60px;

}

.main h3 {
    font-weight: 500;
    font-size: 48px;
    color: #A98C64;
    text-align: start;
    margin-left: 60px;
    margin-bottom: 50px;
}
.buttons {
    display: flex;
    justify-content: start;
    margin-left: 60px;
}
.pitanie {
    width: 203px;
    height: 48px;
    background-color: #4D8F76;
    border: 0;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 20px;
    transition: 300ms ease;
    font-size: 16px;
}

 .pitanie:hover {
     color: #4D8F76;
     background-color: #ffffff;
     border: 1px solid #4D8F76;
 }

.consulta {
    width: 237px;
    height: 48px;
    background-color: transparent;
    color: #4D8F76;
    border: 1px #4D8F76 solid;
    border-radius: 40px;
    cursor: pointer;
    transition: 300ms ease;
    font-size: 16px;

}

.consulta:hover {
    color: #ffffff;
    background-color: #4D8F76;
}
