.comBT {

    height: 48px;
    border: 1px #DFCCB7 solid;
    border-radius: 40px;
    color: #493E3E;
    font-weight: 600;
    font-size: 24px;
    background-color: transparent;
    padding: 8px 23px 8px 23px;
    margin-top: 20px;
    margin-left: 30px;
    transition: 400ms linear;
    cursor: pointer;
}

.comBT:hover {
    background-color: #E2DDC0;
}

.comBT-active {
    background-color: #DFCCB7;
}