.recall {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    transition: 500ms;
    z-index: 10;

}


.recall-content {
    width: 420px;
    height: 350px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;


}


.recall-content h2 img {
    float: right;
    transform: translate(42px, -32px);
    cursor: pointer;
    border: 0

}

.recall-content h2 {
    padding-left: 56px;
    padding-right: 56px;
    font-weight: 500;
    color: black;
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
}


.recall-content p {
    padding-left: 56px;
    padding-right: 56px;
    font-weight: 400;
    font-size: 14px;
    color: #493E3E;
    margin-top: 33px;
}
.recall-content input {

    outline: none;
    background-color: #FAF6F2;
    font-size: 16px;
    line-height: 19px;
    border-radius: 40px;
    border: 0;
    width: 308px;
    height: 48px;
    padding-left: 15px;
}

.recall-content button {
    background-color: #4D8F76;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-top: 39px;
    width: 307px;
    height: 48px;
    border: 0;
    border-radius: 40px;
    margin-bottom: 30px;

}



.recall--entering,
.recall--entered {
    opacity: 1
}

.recall--entering .recall-content,
.recall--entered .recall-content {
    transform: translateY(0);
}

.recall--exited,
.recall--exiting {
    opacity: 0;
}

.recall--exiting .recall-content,
.recall--exited .recall-content{
}